@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

header {
  padding-top: 50px;
  padding-bottom: 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #151334;
  color: #fff;
  min-height: 100vh;
  font-size: 5.625em;
}

header .logo {
  width: 191px;
  height: 52px;
}

header .logo svg g path {
  fill: white;
}

header .logo svg g g {
  stroke: white !important;
}

header .logo svg g g path {
  fill-opacity: 0;
}

.slogan-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold, sans-serif;
}

.slogan:first-child {
  margin-right: auto;
}

.slogan:last-child {
  margin-left: auto;
}

.store-buttons {
  display: flex;
}

.store-buttons a {
    text-decoration: none;
}

.store-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background-color: #5E42B0;
  color: #FFF;
  border: 0px;
  border-radius: 37px 37px;
  margin: 0 25px;
  text-decoration: none;
  width: 310px;
  height: 77px;
}

.store-button__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.store-button__text-wrapper span:last-child {
  font-family: OpenSans-Bold;
}

.store-button__icon {
  width: 48px;
  height: 48px;
  fill: white;
}

section {
  min-height: 100vh;
  position: relative;
}

section h1 {
  font-family: OpenSans-Bold;
  font-size: 5rem;
  color: #e7e7e7;
  text-transform: uppercase;
}

section dl {
  margin: 0;
  counter-reset: my-counter;
}

section dt::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #000000;
  padding-right: 10px;
}

section picture {
  position: absolute;
}

dt {
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 30px;
}

dd {
  margin: 0px;
  padding-bottom: 60px;
}

section h1 {
  padding-top: 100px;
  padding-bottom: 0px;
  margin: 0;
}

section dt {
  color: #c1c1c1;
  font-family: OpenSans-Bold;
  font-size: 1.6875rem;
  text-transform: uppercase;
}

.athlets h1 {
  padding-left: 50%;
}

.athlets dt, .athlets dd {
  padding-left: 50%;
  padding-right: 200px;
}

dt.athlets-second, dd.athlets-second {
  background-color: #f6f4fa;
}

dt.athlets-last, dd.athlets-last {
  background-color: #5e42b0;
}

dd.athlets-last {
  color: #ffffff;
}

.players h1 {
  padding-right: 50%;
  padding-left: 200px;
}

.players dt, .players dd {
  padding-right: 50%;
  padding-left: 200px;
}

.players picture {
  left: 50%;
}

dt.players-second, dd.players-second {
  background-color: #f5f6f7;
}

dt.players-last, dd.players-last {
  background-color: #0a0e34;
}

dd.players-last {
  color: #ffffff;
}

dt.players-last::before {
  color: #9173e6;
}

body {
  margin: 0;
  font-family: OpenSans-Regular, sans-serif;
}

@media (min-width: 961px) {
  header {
    background-image: url(../images/football_1920.jpg);
  }

  .store-buttons {
    flex-direction: row;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url(../images/football_768.jpg);
  }

  .store-buttons {
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  header {
    background-image: url(../images/football_320.jpg);
  }

  .store-buttons {
    flex-direction: column;
  }
}
