@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #151334;
  color: #fff;
  min-height: 100vh;
  font-size: 5.625em;
}

header .logo {
  width: 191px;
  height: 52px;
}

header .logo svg g path {
  fill: white;
}

header .logo svg g g {
  stroke: white !important;
}

header .logo svg g g path {
  fill-opacity: 0;
}

.slogan-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold, sans-serif;
}

.slogan:first-child {
  margin-right: auto;
}

.slogan:last-child {
  margin-left: auto;
}

.store-buttons > a {
  font-size: 0.75rem;
  background-color: #5E42B0;
  color: #FFF;
  border: 0px;
  border-radius: 37px 37px;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  width: 310px;
  height: 77px;
}

body {
  margin: 0;
  font-family: OpenSans-Regular, sans-serif;
}

@media (min-width: 961px) {
  header {
    background-image: url(../images/football_1920.jpg);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url(../images/football_768.jpg);
  }
}

@media (max-width: 640px) {
  header {
    background-image: url(../images/football_320.jpg);
  }
}
